@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
nav.sticky {
  top: 0;
  z-index: 50;
}
@keyframes trophySpin {

  0% {
    transform: rotateY(-25deg);
  }

  50% {
    transform: rotateY(25deg);
  }

  100% {
    transform: rotateY(-25deg);
  }

}