@import "tailwindcss";
html {
  scroll-behavior: auto;
}
nav.sticky {
  top: 0;
  z-index: 50;
}
@keyframes trophySpin {

  0% {
    transform: rotateY(-25deg);
  }

  50% {
    transform: rotateY(25deg);
  }

  100% {
    transform: rotateY(-25deg);
  }

}
@keyframes gradientMove {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}
@keyframes gradient-x {
  0% { background-position: 0% }
  50% { background-position: 100% }
  100% { background-position: 0% }
}

.animate-gradient-x {
  background-size: 200% auto;
  animation: gradient-x 3s linear infinite;
}
section {
  background: transparent !important;
}